.current {
color: white; background: #dadada ; 
}
.current:hover { color: white; background: #dadada ;}
.mycentainer{background:white; width:266px; border-radius: 20px;}
.separate{background:#e8e8e8;}
.separate h2{margin-left:13px;}
.separate img{margin-left:13px;margin-top:5px;}
.separate h4{color:blue; margin-top:10px;}
.separate a{font-size:15px; color:#337ab7; margin-top:20px;}
.navbar-main .navbar-nav>li>a:hover, .navbar-main .navbar-nav>li>a:focus {      
color:white;
background:gray;
}
.navbar-main .navbar-nav>li:hover, .navbar-main .navbar-nav>li:focus{
color:white;
background:gray;
}
.navbar-main .dropdown-menu>li>a {color:#312C2C;}
.navbar-main .dropdown-menu>li>a:hover, .navbar-main .dropdown-menu>li>a:focus {color:white; background-color:Gray;}

media="screen"
.page-title.style-1 .breadcrumb a {
    color: #333;
    font-size: 11px;
}


media="screen"
a  {       color: #06404E;
    cursor: pointer;
	font-size:20px;
}
a {
              color: #4D7779;
    text-decoration: none;
}
lement.style {
}
a {
                    color: #4D7779;
    text-decoration: none;
    font-size: 20px;
}
