<div class="cbp-loadMore-block1">
    <!-- Project 4 -->
    <div class="cbp-item graphic web-design">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                 <img src="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/images/prv/work/img-1.jpg">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/portfolio-item-1.html" class="btn btn-base-5">Read more</a>
                        <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/images/prv/work/img-12.jpg" class="btn btn-base-5 cbp-lightbox">View photo</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/portfolio-item-1.html" class="cbp-l-grid-masonry-projects-title">The River <span>of the Words</span></a>
        <div class="cbp-l-grid-masonry-projects-desc">March 20, 2015</div>
    </div>

    <!-- Project 5 -->
    <div class="cbp-item graphic web-design">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                 <img src="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/images/prv/work/img-2.jpg">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/portfolio-item-1.html" class="btn btn-base-5">Read more</a>
                        <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/images/prv/work/img-12.jpg" class="btn btn-base-5 cbp-lightbox">View photo</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/portfolio-item-1.html" class="cbp-l-grid-masonry-projects-title">Which <span>Wizards</span></a>
        <div class="cbp-l-grid-masonry-projects-desc">March 20, 2015</div>
    </div>

    <!-- Project 6 -->
    <div class="cbp-item graphic web-design">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                 <img src="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/images/prv/work/img-3.jpg">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/portfolio-item-1.html" class="btn btn-base-5">Read more</a>
                        <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/images/prv/work/img-12.jpg" class="btn btn-base-5 cbp-lightbox">View photo</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/portfolio-item-1.html" class="cbp-l-grid-masonry-projects-title">The Dark <span>Heart</span></a>
        <div class="cbp-l-grid-masonry-projects-desc">March 20, 2015</div>
    </div>
</div>

<div class="cbp-loadMore-block2">
    <!-- Project 4 -->
    <div class="cbp-item graphic web-design">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                 <img src="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/images/prv/work/img-4.jpg">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/portfolio-item-1.html" class="btn btn-base-5">Read more</a>
                        <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/images/prv/work/img-12.jpg" class="btn btn-base-5 cbp-lightbox">View photo</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/portfolio-item-1.html" class="cbp-l-grid-masonry-projects-title">The River <span>of the Words</span></a>
        <div class="cbp-l-grid-masonry-projects-desc">March 20, 2015</div>
    </div>

    <!-- Project 5 -->
    <div class="cbp-item graphic web-design">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                 <img src="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/images/prv/work/img-5.jpg">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/portfolio-item-1.html" class="btn btn-base-5">Read more</a>
                        <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/images/prv/work/img-12.jpg" class="btn btn-base-5 cbp-lightbox">View photo</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/portfolio-item-1.html" class="cbp-l-grid-masonry-projects-title">Which <span>Wizards</span></a>
        <div class="cbp-l-grid-masonry-projects-desc">March 20, 2015</div>
    </div>

    <!-- Project 6 -->
    <div class="cbp-item graphic web-design">
        <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
                 <img src="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/images/prv/work/img-6.jpg">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/portfolio-item-1.html" class="btn btn-base-5">Read more</a>
                        <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/images/prv/work/img-12.jpg" class="btn btn-base-5 cbp-lightbox">View photo</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/portfolio-item-1.html" class="cbp-l-grid-masonry-projects-title">The Dark <span>Heart</span></a>
        <div class="cbp-l-grid-masonry-projects-desc">March 20, 2015</div>
    </div>
</div>