<div class="cbp-loadMore-block1">

    <!-- Project 1 -->
    <div class="graphic web-design cbp-item">
        <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/ajax/portfolio/project-1.html" class="cbp-caption cbp-singlePage">    
            <div class="cbp-caption-defaultWrap">
                <img src="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/images/prv/work/img-7.jpg">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">The River <span>of the Words</span></div>
                        <div class="cbp-l-caption-desc">March 20, 2015</div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- Project 2 -->
    <div class="graphic logos cbp-item">
        <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/ajax/portfolio/project-2.html" class="cbp-caption cbp-singlePage">
            <div class="cbp-caption-defaultWrap">
                <img src="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/images/prv/work/img-8.jpg">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Which <span>Wizards</span></div>
                        <div class="cbp-l-caption-desc">March 20, 2015</div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- Project 3 -->
    <div class="graphic logos cbp-item">
        <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/ajax/portfolio/project-3.html" class="cbp-caption cbp-singlePage">        
            <div class="cbp-caption-defaultWrap">
                <img src="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/images/prv/work/img-9.jpg">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">The Dark <span>Heart</span></div>
                        <div class="cbp-l-caption-desc">March 20, 2015</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="cbp-loadMore-block2">
    <!-- Project 4 -->
    <div class="graphic web-design cbp-item">
        <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/ajax/portfolio/project-1.html" class="cbp-caption cbp-singlePage">    
            <div class="cbp-caption-defaultWrap">
                <img src="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/images/prv/work/img-1.jpg">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">The River <span>of the Words</span></div>
                        <div class="cbp-l-caption-desc">March 20, 2015</div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- Project 5 -->
    <div class="graphic logos cbp-item">
        <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/ajax/portfolio/project-2.html" class="cbp-caption cbp-singlePage">
            <div class="cbp-caption-defaultWrap">
                <img src="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/images/prv/work/img-2.jpg">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Which <span>Wizards</span></div>
                        <div class="cbp-l-caption-desc">March 20, 2015</div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- Project 6 -->
    <div class="graphic logos cbp-item">
        <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/ajax/portfolio/project-3.html" class="cbp-caption cbp-singlePage">        
            <div class="cbp-caption-defaultWrap">
                <img src="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/images/prv/work/img-3.jpg">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">The Dark <span>Heart</span></div>
                        <div class="cbp-l-caption-desc">March 20, 2015</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>