<div class="cbp-l-project-title">Dashboard</div>
<div class="cbp-l-project-subtitle">by John Doe</div>

<div class="cbp-slider">
    <ul class="cbp-slider-wrap">
        <li class="cbp-slider-item">
            <img src="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/images/prv/work/img-4.jpg" alt="">
        </li>
        <li class="cbp-slider-item">
            <img src="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/images/prv/work/img-5.jpg" alt="">
        </li>
    </ul>
</div>

<div class="cbp-l-project-container">
    <div class="row mt-30">
        <div class="col-md-9">
            <div class="section-title-wrapper style-1 v1">
                <h3 class="section-title section-title-sm left">
                    <span>Project description</span>
                </h3>
            </div>

            <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            <br><br>
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
            essentially unchanged. It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
            essentially unchanged
            </p> 
        </div>
        <div class="col-md-3">
            <div class="section-title-wrapper style-1 v1">
                <h3 class="section-title section-title-sm left">
                    <span>Main skills</span>
                </h3>
            </div>

            <ul class="list-b-icon">
                <li>
                    <a href="project-1.html#">
                        <i class="fa fa-check-circle"></i>
                        <span>Identity</span>
                    </a>
                </li>
                <li>
                    <a href="project-1.html#">
                        <i class="fa fa-check-circle"></i>
                        <span>Web Design</span>
                    </a>
                </li>
                <li>
                    <a href="project-1.html#">
                        <i class="fa fa-check-circle"></i>
                        <span>Graphic</span>
                    </a>
                </li>
                <li>
                    <a href="project-1.html#">
                        <i class="fa fa-check-circle"></i>
                        <span>Logo</span>
                    </a>
                </li>
            </ul>   
        </div>
    </div>
</div>

<div class="cbp-l-project-container mb-30">
    <div class="cbp-l-project-related">
       <div class="section-title-wrapper style-1 v1">
            <h3 class="section-title section-title-sm left">
                <span>Related projects</span>
            </h3>
        </div>

        <ul class="cbp-l-project-related-wrap">
            <li class="cbp-l-project-related-item">
                <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/ajax/project12.html" class="cbp-singlePage cbp-l-project-related-link">
                    <img src="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/images/prv/work/img-1.jpg" alt="">
                    <div class="cbp-l-project-related-title">Speed Detector</div>
                </a>
            </li>
            <li class="cbp-l-project-related-item">
                <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/ajax/project2.html" class="cbp-singlePage cbp-l-project-related-link">
                    <img src="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/images/prv/work/img-2.jpg" alt="">
                    <div class="cbp-l-project-related-title">World Clock Widget</div>
                </a>
            </li>
            <li class="cbp-l-project-related-item">
                <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/ajax/project3.html" class="cbp-singlePage cbp-l-project-related-link">
                    <img src="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/images/prv/work/img-3.jpg" alt="">
                    <div class="cbp-l-project-related-title">To-Do Dashboard</div>
                </a>
            </li>
        </ul>

    </div>
</div>