<div class="cbp-l-project-title">To-Do Dashboard</div>
<div class="cbp-l-project-subtitle">Work management platform for creatives with a lot of cool features. Easier.</div>

<div class="cbp-slider">
    <ul class="cbp-slider-wrap">
        <li class="cbp-slider-item">
            <img src="../../../ipsumimage.appspot.com/1200x900,2d67b9.png" alt="">
        </li>
        <li class="cbp-slider-item">
            <img src="../../../ipsumimage.appspot.com/1200x900,2d67b9.png" alt="">
        </li>
        <li class="cbp-slider-item">
            <img src="../../../ipsumimage.appspot.com/1200x900,2d67b9.png" alt="">
        </li>
    </ul>
</div>

<div class="cbp-l-project-container">
    <div class="cbp-l-project-desc">
        <div class="cbp-l-project-desc-title"><span>Project Description</span></div>
        <div class="cbp-l-project-desc-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, cumque, earum blanditiis incidunt minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae aut ipsa non ex ullam atque suscipit ut dignissimos magnam!</div>
    </div>
    <div class="cbp-l-project-details">
        <div class="cbp-l-project-details-title"><span>Project Details</span></div>

        <ul class="cbp-l-project-details-list">
            <li><strong>Client</strong>John Doe</li>
            <li><strong>Date</strong>22 December 2013</li>
            <li><strong>Categories</strong>Logo, Graphic</li>
        </ul>
        <a href="project-3.html#" target="_blank" class="cbp-l-project-details-visit">visit the site</a>
    </div>
</div>

<div class="cbp-l-project-container">
    <div class="cbp-l-project-related">
        <div class="cbp-l-project-desc-title"><span>Related Projects</span></div>

        <ul class="cbp-l-project-related-wrap">
            <li class="cbp-l-project-related-item">
                <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/ajax/project2.html" class="cbp-singlePage cbp-l-project-related-link">
                    <img src="../../../ipsumimage.appspot.com/500x325,2d67b9.png" alt="">
                    <div class="cbp-l-project-related-title">World Clock Widget</div>
                </a>
            </li>
            <li class="cbp-l-project-related-item">
                <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/ajax/project4.html" class="cbp-singlePage cbp-l-project-related-link">
                    <img src="http://preview.devisio.ro/ipsumimage.appspot.com/500x325,2d67b9.png" alt="">
                    <div class="cbp-l-project-related-title">To-Do Dashboard</div>
                </a>
            </li>
            <li class="cbp-l-project-related-item">
                <a href="http://preview.devisio.ro/visio-v1.0/ajax/portfolio/ajax/project5.html" class="cbp-singlePage cbp-l-project-related-link">
                    <img src="http://preview.devisio.ro/ipsumimage.appspot.com/500x325,2d67b9.png" alt="">
                    <div class="cbp-l-project-related-title">WhereTO App</div>
                </a>
            </li>
        </ul>

    </div>
</div>

<br>
<br>
<br>
