.current {  background: hsla(36, 7%, 86%, 0.38);
    margin: 10px;
}
.current:hover { color: white; background: #dadada ; margin: 10px;}
.mycentainer{background:white; width:266px; border-radius: 20px; }
.separate{background:#e8e8e8; }
.separate h2{margin-left:13px;}
.separate img{margin-left:13px;margin-top:5px;}
.separate h4{color:blue; margin-top:10px;}
.separate a{font-size:15px; color:#337ab7; margin-top:20px;}
.navbar-main .navbar-nav>li>a:hover, .navbar-main .navbar-nav>li>a:focus {      
color:white;
background:gray;
}
.navbar-main .navbar-nav>li:hover, .navbar-main .navbar-nav>li:focus{
color:white;
background:gray;
}
.navbar-main .dropdown-menu>li>a {color:#312C2C;}
.navbar-main .dropdown-menu>li>a:hover, .navbar-main .dropdown-menu>li>a:focus {color:white; background-color:Gray;}

.navbar-main .navbar-nav>li>a {
    color: #333;
    font-size: 20px;
    font-family: "Raleway",sans-serif;
    padding: 15px 30px 15px 20px;
    margin: 15px 0;
    font-weight: 500;
    background-color: transparent;
    text-transform: capitalize;
    border-radius: 0;
}
media="screen"
.page-title.style-1 .breadcrumb a {
    color: #333;
    font-size: 11px;
}


media="screen"
a  {       color: #06404E;
    cursor: pointer;
	font-size:20px;
}
a {
              color: #4D7779;
    text-decoration: none;
}
lement.style {
}
a {
                   
    text-decoration: none;
    font-size: 20px;
}

media="screen"
body {
    position: relative;
   
}



.navbar-main {
    margin: 0;
    background-color: #883124;
    border: 0;
    border-bottom: 0 solid transparent;
    border-radius: 0;
    z-index: 1000;
}

.layer-slider-wrapper {
    font-size: 20px;
    overflow: hidden;
    border: 0;
    padding: 2px;
}
